/* line 8, ../../../src/pos/scss/main.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 12, ../../../src/pos/scss/main.scss */
body {
  color: #333;
  background: #eee;
  font-family: "helvetica neue", helvetica, sans-serif;
}

/* line 20, ../../../src/pos/scss/main.scss */
#pos-header {
  margin: 50px 0 20px 0;
  width: 100%;
}
/* line 24, ../../../src/pos/scss/main.scss */
#pos-header td {
  width: 25%;
}
/* line 27, ../../../src/pos/scss/main.scss */
#pos-header td.middle-right, #pos-header td.middle-left {
  padding-left: 11px;
}
/* line 34, ../../../src/pos/scss/main.scss */
#pos-header .btn.middle {
  min-width: 120px;
}
/* line 39, ../../../src/pos/scss/main.scss */
#pos-header .btn-group {
  margin-left: 0;
}

/* line 45, ../../../src/pos/scss/main.scss */
#clock {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e5e5e), color-stop(100%, #3c3c3c));
  background: -webkit-linear-gradient(top, #5e5e5e, #3c3c3c);
  background: -moz-linear-gradient(top, #5e5e5e, #3c3c3c);
  background: -o-linear-gradient(top, #5e5e5e, #3c3c3c);
  background: -ms-linear-gradient(top, #5e5e5e, #3c3c3c);
  background: linear-gradient(top, #5e5e5e, #3c3c3c);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  font-family: 'Rationale', sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 37px;
  color: #52c5c8;
  text-align: center;
  height: 37px;
}

/* line 60, ../../../src/pos/scss/main.scss */
#weather {
  position: relative;
  top: 3px;
  height: 160px;
  width: 420px;
}
/* line 68, ../../../src/pos/scss/main.scss */
#weather .top-row {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e5e5e), color-stop(100%, #3c3c3c));
  background: -webkit-linear-gradient(top, #5e5e5e, #3c3c3c);
  background: -moz-linear-gradient(top, #5e5e5e, #3c3c3c);
  background: -o-linear-gradient(top, #5e5e5e, #3c3c3c);
  background: -ms-linear-gradient(top, #5e5e5e, #3c3c3c);
  background: linear-gradient(top, #5e5e5e, #3c3c3c);
  padding-left: 85px;
  line-height: 40px;
  color: #fff;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  -o-border-radius: 6px 6px 0px 0px;
  -ms-border-radius: 6px 6px 0px 0px;
  -khtml-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 77, ../../../src/pos/scss/main.scss */
#weather .bottom-row {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b2b2b), color-stop(100%, #303030));
  background: -webkit-linear-gradient(top, #2b2b2b, #303030);
  background: -moz-linear-gradient(top, #2b2b2b, #303030);
  background: -o-linear-gradient(top, #2b2b2b, #303030);
  background: -ms-linear-gradient(top, #2b2b2b, #303030);
  background: linear-gradient(top, #2b2b2b, #303030);
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  -o-border-radius: 0px 0px 6px 6px;
  -ms-border-radius: 0px 0px 6px 6px;
  -khtml-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  padding: 10px;
}
/* line 83, ../../../src/pos/scss/main.scss */
#weather .bottom-row table#sales-stats {
  color: #fff;
}
/* line 86, ../../../src/pos/scss/main.scss */
#weather .bottom-row table#sales-stats td {
  padding-left: 10px;
}
/* line 90, ../../../src/pos/scss/main.scss */
#weather .bottom-row table#sales-stats td.top-left-td {
  width: 50px;
}
/* line 97, ../../../src/pos/scss/main.scss */
#weather img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 3px;
  left: 3px;
}
/* line 105, ../../../src/pos/scss/main.scss */
#weather span#temperature {
  font-wight: bold;
  font-size: 24px;
}
/* line 110, ../../../src/pos/scss/main.scss */
#weather .weather-unit {
  color: #999999;
}
/* line 114, ../../../src/pos/scss/main.scss */
#weather .weather-number {
  margin-left: 10px;
}
/* line 118, ../../../src/pos/scss/main.scss */
#weather .gray.small {
  color: #999999;
}
/* line 122, ../../../src/pos/scss/main.scss */
#weather .blue {
  color: #52c5c8;
}
/* line 126, ../../../src/pos/scss/main.scss */
#weather .green {
  color: #28c800;
}
/* line 130, ../../../src/pos/scss/main.scss */
#weather .large {
  font-size: 18px;
}
/* line 134, ../../../src/pos/scss/main.scss */
#weather span#real-sales-number, #weather span#real-profit-number {
  font-weight: bold;
}

/* line 143, ../../../src/pos/scss/main.scss */
#selects a {
  position: relative;
  top: -4px;
  left: 4px;
  width: 30px;
  height: 30px;
}
/* line 150, ../../../src/pos/scss/main.scss */
#selects a .caret {
  position: relative;
  top: 6px;
}
/* line 156, ../../../src/pos/scss/main.scss */
#selects .typeahead-dropdown {
  width: 313px;
  height: 30px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 3px;
  line-height: 20px;
  font-size: 20px;
}
/* line 167, ../../../src/pos/scss/main.scss */
#selects #customer-dropdown {
  background-image: url("/img/user_placeholder.png");
}
/* line 171, ../../../src/pos/scss/main.scss */
#selects #item-dropdown {
  background-image: url("/img/item_placeholder.png");
}

/* line 178, ../../../src/pos/scss/main.scss */
ul#transaction-buttons {
  float: right;
  list-style-type: none;
  margin-left: 0px;
}
/* line 184, ../../../src/pos/scss/main.scss */
ul#transaction-buttons li button {
  width: 160px;
  height: 60px;
  margin-top: 2px;
  margin-bottom: 3px;
}

/* line 197, ../../../src/pos/scss/main.scss */
table#keypad button {
  width: 80px;
  height: 60px;
  margin-right: 3px;
  margin-bottom: 3px;
}

/* line 219, ../../../src/pos/scss/main.scss */
#grid {
  padding-top: 100px;
  margin-bottom: 30px;
}

/* line 224, ../../../src/pos/scss/main.scss */
.show-grid > div {
  background: #888;
  margin-top: 10px;
}

/* line 231, ../../../src/pos/scss/main.scss */
p.alert {
  position: absolute;
  bottom: 10px;
  display: none;
}
