@-webkit-keyframes flashBorder {
  from {
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0px rgba(82, 168, 236, 0.8));
  }
  50% {
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 35px rgba(82, 168, 236, 0.8));
  }
  to {
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0px rgba(82, 168, 236, 0.8));
  }
}

.flashing-animation {
  -webkit-animation-name: flashBorder;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
}