html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333;
  background: #eee;
  font-family: "helvetica neue", helvetica, sans-serif;
}


#header {
    margin: 50px 0;
}



#selects {
    
    a {
        position: relative;
        top: -4px;
        left: 4px;
    }

}



p.alert {
    margin-top: 50px;
}